* {
  font-family: "Helvetica", "Arial", "san-serif";
}

header {
  height: 100px
  border-bottom-color: 1px solid #cccccc
}

header nav {
    float:right;
}

header nav ul {
  padding: 0;
  margin: 40px, 0, 0, 0;
}

body {
  padding: 0 30px 0 30px;
}
