* {
  font-family: "Helvetica", "Arial", "san-serif";
}

header {
  height: 100px;
  border-bottom: 1px solid #cccccc
}

header nav {
    float:right;
}

header nav ul li{
  li display: right 10px
}

nav a{
  text-decoration: none;
  color: #007bff;
  font-size: 18px
}

nav ul{
  padding: 0;
  margin: 40px, 0, 0, 0;
}

h3#header {
  float:left;
  font-size: 30px
}

h3#header a {
  text-decoration: none;
  color: #868e96;
}

body {
  padding: 0 30px 0 30px;
}
